body {
			
			color: #767270;
			padding: 1%;
			font-size: 14px;
			font-family:<link href="https://fonts.googleapis.com/css?family=Bungee+Inline" rel="stylesheet">;
			
	background-image: 	url(ab.jpg);
		}
		
.sidebar{
	background-position: right;
	width: 30%;
	margin-left: 5%;
	background-color: #FF69B4;

}

img{
	width: 50%;
     height: 30%;
	border: 5px solid #fe4365;
	
	margin-top: 10%;
	margin-left: 20%;
}	

.profile , .education , .skills, .interest{
	padding-left: 15%;
	font-size: 20px;
	
}

.content{
	padding-left: 20%;
	font-size: 20px;
}

.heading
{
	color: #2E8B57;
}

/*.name{*/
	color: #ff6666;
	font-size: 50px;
}

.nam{
font-size: 25px;
}

.ty{
	
	font-size: 50px;

}
